{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'images/peace.png' %}" type="image/x-icon" >
    <link rel="icon" href="{% static 'images/peace.png' %}" sizes="32x32" >
    <link rel="icon" href="{% static 'images/peace.png' %}" sizes="48x48" >
    <link rel="icon" href="{% static 'images/peace.png' %}" sizes="96x96" >
    <link rel="icon" href="{% static 'images/peace.png' %}" sizes="144x144" >
	<title>{% block title %}{% endblock %} | Alish</title>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/materialize-social.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <!-- social icon link -->
    <!-- https://terrymooreii.github.io/materialize-social/ -->
    <style type="text/css">
    	body {
    		background: #e5eaf5;
    	}
    </style>
	{% block css %}
	{% endblock %}
	<!-- Smartsupp Live Chat script -->
	<script type="text/javascript">
	var _smartsupp = _smartsupp || {};
	_smartsupp.key = 'a2f7007e83e73d36ff4f844115dcc220b6dcdbcc';
	window.smartsupp||(function(d) {
	  var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
	  s=d.getElementsByTagName('script')[0];c=d.createElement('script');
	  c.type='text/javascript';c.charset='utf-8';c.async=true;
	  c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
	})(document);
	</script>
</head>
<body>
	<ul id="dropdown1" class="dropdown-content" style="right: 150px !important; width: 200px !important; left: 0 !important;">
		<!-- <li><a href="{% url 'profileapp:clienthome' %}">Home</a></li> -->
        <li><a href="{% url 'profileapp:clientprofile' %}">Profile</a></li>
        <li><a href="{% url 'profileapp:clientcontact' %}">Contact</a></li>
		<li class="divider"></li>
		<li><a href="#!">three</a></li>
	</ul>
	<ul id="dropdown1-mobile" class="dropdown-content">
		<li><a href="#!">one</a></li>
		<li><a href="#!">two</a></li>
		<li class="divider"></li>
		<li><a href="#!">three</a></li>
	</ul>
	<nav>
	    <div class="nav-wrapper">
	      <a href="{% url 'profileapp:clienthome' %}" class="brand-logo"><i class="material-icons">cloud</i>Alish</a>
	      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
	      <ul class="right hide-on-med-and-down">
	      	<li>
				<form class="hide-on-small-only" style="height: 100%; display: inline-block; z-index: 9999999;">
					<div class="input-field teal lighten-2">
						<input id="search" type="search" placeholder="Search something..." required style="padding-left: 40px; padding-right: 0px; margin-right: 0; height: 35px; width: 200px;">
						<label class="label-icon" style="margin-top: -15px; margin-left: -5px;" for="search"><i class="material-icons">search</i></label>
						<i class="material-icons" style="margin-top: -15px; margin-right: -15px;">close</i>
					</div>
				</form>
	      	</li>
	        
	        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="material-icons">more_vert</i></a></li>
	      </ul>
	    </div>
	</nav>
	<ul class="sidenav" id="mobile-demo">
        <li><a href="{% url 'profileapp:clienthome' %}" class="brand-logo"><i class="material-icons">cloud</i>Alish</a></li>
	  	<li></li>
	  	<hr>
	    <form style="display: inline-block; z-index: 9999999; margin: auto; padding-left: 40px; margin-top: -10px;">
			<div class="input-field">
				<input id="search" type="search" required style="padding-left: 22px;">
				<label class="label-icon" for="search"><i class="material-icons" style="margin-top: 12px; margin-left: -20px;">search</i></label>
				<i class="material-icons" style="margin-top: 12px; margin-right: -20px;">close</i>
			</div>
		</form>
        <li><a href="{% url 'profileapp:clientprofile' %}"><i class="material-icons" title="Profile">art_track</i> Profile</a></li>
        <li><a href="{% url 'profileapp:clientcontact' %}"><i class="material-icons" title="Contact">contact</i> Contact</a></li>
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1-mobile"><i class="material-icons">more_vert</i> Options</a></li>
	</ul>
	<div class="progress" id="progress_bar">
		<div class="indeterminate"></div>
	</div>
	<div id="body_below_nav">
		{% block content %}
		{% endblock %}
	</div>
	<footer class="page-footer" style="padding-top: 0;">
		<!-- <div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">Footer Content</h5>
					<p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="white-text">Links</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
					</ul>
				</div>
			</div>
		</div> -->
		<div class="footer-copyright">
			<div class="container">
				© 2020 Alish Prajapati
				<a class="grey-text text-lighten-4 right" href="#!">Alish</a>
			</div>
		</div>
	</footer>
    <!-- Compiled and minified JavaScript -->
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'js/axios.min.js' %}"></script>
    <script type="text/javascript">
    	var dropdowns = document.querySelectorAll('.dropdown-trigger')
		for (var i = 0; i < dropdowns.length; i++){
		    M.Dropdown.init(dropdowns[i]);
		}
    </script>
    <script type="text/javascript">
    	document.addEventListener('DOMContentLoaded', function() {
			var elems = document.querySelectorAll('.sidenav');
			var instances = M.Sidenav.init(elems, {});
		});
    </script>
    <script type="text/javascript">
    	window.addEventListener('load', function() {
    		var x = document.getElementById("progress_bar");
    		x.style.display = "none"
    	})
    </script>
	{% block js %}
	{% endblock %}
</body>
</html>